@import url("bootstrap/dist/css/bootstrap.min.css");
html {
  background-color: white;
}

.root {
  background-color: white;
}
h1 {
  color: crimson;
  text-align: center;
  font-size: 50px;
  margin-top: 6vh;
}
.container {
  margin-top: -3vh;
  background-color: crimson;
  color: white;
  height: 60vh;
  width: 50vw;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-form {
  border-radius: 20px;
}
button {
  display: flex;
  justify-content: center;

  border-radius: 20px;
  background-color: maroon;
  color: white;
  font-weight: bolder;
  border-style: none;
  margin: 40px;
  width: auto;
}
.button-container {
  display: flex;
  flex-direction: row;
}

.checkbox-area {
  margin: 10px;
}
