@import url("bootstrap/dist/css/bootstrap.min.css");
html {
  background-color: crimson;
}

.root {
  background-color: crimson;
}
.container {
  margin-top: 10vh;
  background-color: grey;
  height: 80vh;
  width: 80vw;
  border-radius: 30px;
  opacity: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-form {
  border-radius: 20px;
}
button {
  border-radius: 20px;
  background-color: darkcyan;
  margin: 10px;
  width: 30vw;
}

.checkbox-area {
  margin: 10px;
}
.check {
  width: auto;
  height: auto;
}
